
<section id="es">
  <div class="course-page">
  <img src="Images/Employability.png"/>
  <div>
    <p><strong>Employability Skills</strong> 
      <br>
      This course will take you through becoming an efficient professional and significantly improve your productivity. You will develop effective and efficient time management skills and use Excel, Google: Gmail, docs, sheets, drive, forms, and slides to collaborate and communicate, give and receive feedback, write reports, and prepare financial documents. During the course, you will also cover topics on planning effective meetings, managing project communication, managing projects with digital tools, collaborating, communicating, and working remotely.</p>  
  <br>
 <a href="https://forms.gle/Z12hEnaaWhdUnFn86" style="margin-bottom: 10px;" id="action-btn" class="btn enroll">Enroll Now</a>
 </div> 
</div>
 <div class="learn-bi">
    <h6>What You Will Learn: </h6>
  <span>How to work effectively with a remote team.</span>
  <span>How to set up metings.</span>
  <span>How to improve your productivity.</span>
</div>
 

<div class="bi-requirement">
  <img src="Images/student.jpg" alt="">
  <div>
<p>Programme Requirements:</p>
<ul>
<li>Access to a laptop or desktop with internet facilities</li>
<li>Proficiency in written and spoken English</li>
<li>Be 18 years of age and above</li>
<li>Dedication to learn</li>
<li>Ability to learn new concepts</li>
<li>Burning desire for success</li>
</ul>
</div>
</div>
</section>