<footer id="footer">
  <div class="footer">
  <a href="./"><img class="footer-logo" src="Images/ld-logo.svg" alt="ld-logo"/></a>
  <div class="footer-text">
    <h5>About Us</h5>
    <p>We are a not-for-profit organization</p>
    <a href="./About>Learn more</a>
</div>

<div class="footer-text">
    <h5>Contact Us</h5>
<a href="#">Email: littledropedu@gmail.com</a>
<br>
<a href ="#">Phone: 09135962695</a> 
</div>
<div class="footer-text">
  <button class="donate" id="donate-btn" onclick="showDiv()">Donate</button>
  <p>
    To keep the bootcamp running for free, your kind support is highly needed. Please hit the donate tab for details. Thank you as you donate genourously towards the growth of this project.
  </p>
</div>
<div class="show-details" id="show-div">
<div class="donation-tab">
<div>
<img class="navbar-toggler-icon" id="close-donate" onclick="hideDiv()" src="Images/icon-closenav.svg" alt="toogle-img"/>
<h5>Dollar Donation</h5>
<p>Account Name: LITTLE DROP CHARITY ENDOWMENT INITIATIVE</p>
  <p> Jaiz Bank(Dollar)</p>
  <p>Account Number: 0004540755</p>
  <p>Ref: Edu Project(please add this reference)</p>
</div>
<br>
<br>
<div>
<h5>Naira Account</h5>
<p>You can send your Naira donations to: Little Drop Education Project:
 <p>Bank Name: Jaiz</p>
  <p>Account Name: Little Drop Charity -Education Project</p>
  <p>Account Number: 0004586951</p>
<p><strong>Thank You</strong></p>
</div>
</div>
</div>
</div>

 
  <div class="social-media-icons">
    <a href="https://m.facebook.com/groups/763056224820465?view=info&refid=18"><img src="Images/facebook.png" alt="facebook-icon"></a>
    <a href="https://www.linkedin.com/in/little-drop-430106210"><img src="Images/linkedin.png" alt="in"></a>
    <a href="https://twitter.com/DropEducation?s=08"><img src="Images/twitter.png" alt="twit"></a>
    <a href="https://wa.me/2349135962695"><img src="Images/whatsapp.png" alt="what"></a>
  </div>
    <span class="copyright">&copy; Littledrop Education Bootcamp, 2022.</span>
</footer>