<!-- <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
          <img class="navbar-toggler-icon new" src="Images/toggle-button.svg" alt="toogle-img"/>
        </button>
        <div><a href="./"><img class="logo" src="Images/ld-logo.svg" alt="logo-image"/></a></div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
            <img class="navbar-toggler-icon" id="close-nav" src="Images/icon-closenav.svg" alt="toogle-img"/>
          </button>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./About">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Courses
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="./course">Coding Courses</a></li>
                <li><a class="dropdown-item" href="./non-coding">Non-Coding Courses</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="./form" onclick="myFunction()">Register</a></li>
                <li><a class="dropdown-item" href="./form"onclick="myFunction()">Log-in</a></li>
                <li><a class="dropdown-item" href="./form" onclick="myFunction()">Log-out</a></li>
              </ul>
            </li> 
          </ul>
        </div>
        <form class="d-flex">
          <input class="form-control me-2" id="search-input" type="search" placeholder="Search for courses"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>  
    </nav>
  
  <div class="heading">
    <h1>LITTLEDROP <span class="header">EDUCATION BOOTCAMP</span></h1>
    <p class="text">An online-based not-for-profit charity organization, bridging the gap between computer illiteracy and unemployment among youths and women with e-courses to develop coding and non-coding skills.</p>
    <a href="./course"><button class="btn1" type="submit" onclick="myFunction()">View Courses</button></a>
  </div>
</div> -->


<nav style="margin-top: 0;" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <img class="navbar-toggler-icon new" src="Images/toggle-button.svg" alt="toogle-img"/>
    </button>
    <div><a href="./"><img class="logo" src="Images/ld-logo.svg" alt="logo-image"/></a></div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
        <img class="navbar-toggler-icon" id="close-nav" src="Images/icon-closenav.svg" alt="toogle-img"/>
      </button>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./About">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="./coding">Coding Courses</a></li>
            <li><a class="dropdown-item" href="./non-coding">Non-Coding Courses</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact">Contact</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="./form" onclick="myFunction()">Register</a></li>
            <li><a class="dropdown-item" href="./form"onclick="myFunction()">Log-in</a></li>
            <li><a class="dropdown-item" href="./form" onclick="myFunction()">Log-out</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
    <form action="/search" method="POST" class="d-flex">
      <input class="form-control me-2" id="search-input" name="query" type="search" placeholder="Search for courses"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>  
</nav>