<section class="start-here">
    <h4 class="start-here-head">Get early access today</h4>
    <p class="start-here-text">It only takes a minute to sign up and get updates on vital information regarding our next cohort. Our support is always available to help you begin your learning journey.</p>
    <form action="/signup" method="POST" id="sign-up">
      <label for="name" id="name" name="name">Name:</label>
    <input type="text" name="name" class="input-box" placeholder="Adeoti Olufemi" required>
    <br>
    <label for="email" id="email" name="email">Email:</label>
    <input type="text" name="email" class="input-box" placeholder="hello@example.com" required>
    <br>
      <button class="btn1 Sign-up" type="submit">Sign-up</button>
  </form>
  </section>