
<section id="sm">
  <div class="course-page">
  <img src="Images/Social-media.jpg"/>
  <div>
    <p><strong>Social Media Management</strong> 
      <br>
      Suppose you want to become a social media manager for a reputable company, earn a good income, and write engaging blog posts. In that case, this course is for you. During the six months of this course, you will improve your English grammar knowledge, master the craft of writing professional emails and write regularly. While on the course, you will cover essential topics like grammar, punctuation, essay writing, editing, and making use of handy productivity tools like Google: Gmail, docs, sheets, drive, forms, and slides.</p>  
  <br>
 <a href="https://forms.gle/Z12hEnaaWhdUnFn86" style="margin-bottom: 10px;" id="action-btn" class="btn enroll">Enroll Now</a>
 </div> 
</div>
 <div class="learn-bi">
    <h6>What You Will Learn: </h6>Along the way, you will learn  and  that will wow your readers.
  <span>How to set up a WordPress blog site</span>
  <span>How to send out regular blog posts and newsletters</span>
</div>
 

<div class="bi-requirement">
  <img src="Images/student.jpg" alt="">
  <div>
<p>Programme Requirements:</p>
<ul>
<li>Access to a laptop or desktop with internet facilities</li>
<li>Proficiency in written and spoken English</li>
<li>Be 18 years of age and above</li>
<li>Dedication to learn</li>
<li>Ability to learn new concepts</li>
<li>Burning desire for success</li>
</ul>
</div>
</div>
</section>