
<section id="wd">
  <div class="course-page">
  <img src="Images/web-dev.jpg"/>
  <div>
    <p><strong>Web Development</strong> is the work involved in developing a website for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services.</p>  
  <br>
 <a href="https://forms.gle/Z12hEnaaWhdUnFn86" id="action-btn" class="btn enroll">Enroll Now</a>
 </div> 
</div>
 <div class="learn-bi">
    <h6>What You Will Learn: </h6>
  <span>Responsive Web designing with HTML & CSS</span>
   <span>JavaScript Algorithms and data structure</span>
   <span>Bootstrap</span>
   <span>APIs</span>
  </div>
 

<div class="bi-requirement">
  <img src="Images/student.jpg" alt="">
  <div>
<p>Programme Requirements:</p>
<ul>
<li>Access to a laptop or desktop with internet facilities</li>
<li>Proficiency in written and spoken English</li>
<li>Be 18 years of age and above</li>
<li>Dedication to learn</li>
<li>Ability to learn new concepts</li>
<li>Burning desire for success</li>
</ul>
</div>
</div>
</section>