<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
 
<body id="home">
  <div class="container-2">
  <%- include("./partials/nav.ejs") %>

  </div>

  <section class="blog-row">
    <div class="blog-col">
      <a href="https://blog.ldbootcamp.com.ng/category/articles/"><img src="Images/blog.webp"/></a>
      <!-- <div class="layer">
        <h1>Articles</h1>
      </div> -->
      <br>
      <a href="https://blog.ldbootcamp.com.ng/category/articles/">Articles</a>
    </div>
    <div class="blog-col">
      <a href="https://blog.ldbootcamp.com.ng/category/newsletter/"><img src="Images/letter.jpg"/></a>
      <!-- <div class="layer">
      <h1>Newsletters</h1>
    </div> -->
    <br>
    <a href="https://blog.ldbootcamp.com.ng/category/newsletter/">Newsletter</a>
    </div>
    <div class="blog-col">
      <a href="https://blog.ldbootcamp.com.ng/category/excerpts/"><img src="Images/blog2.jpg"/></a>
      <!-- <div class="layer">
        <h1>Excerpts</h1>
      </div> -->
      <br>
      <a href="https://blog.ldbootcamp.com.ng/category/excerpts/">Excerpts</a>
      </div>
  </section>
    <!------------------------------------------------------------------------------->
  <%- include("./partials/footer.ejs") %>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./server.js"></script>
  </body>
  </html>