<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  
<body>
  <%- include("./partials/nav.ejs") %>
    
    <!--------------------------------------------------------------------------------------------------------------------------------->

<section id="bi">
  <div class="course-page">
  <img src="Images/BI-2.jpg"/>
  <div>
 <p> <strong>Data Analysis with Business Intelligence (BI)</strong> refers to the procedural and technical infrastructure that collect, store, and analyse the data produced by a company's activities. BI is a broad term encompassing data mining, process analysis, performance benchmarking, and descriptive analytics.</p>
 <br>
 <a href="https://forms.gle/Z12hEnaaWhdUnFn86" id="action-btn" class="btn enroll">Enroll Now</a>
 </div> 
</div>
 <div class="learn-bi">
    <h6>What You Will Learn: </h6>
  <span>Microsoft Excel in a full concept</span>
  <span>SQL</span>
  <span>Tableau</span>
  <span>Salesforce</span>
</div>
 

<div class="bi-requirement">
  <img src="Images/student.jpg" alt="">
  <div>
<p>Programme Requirements:</p>
<ul>
<li>Access to a laptop or desktop with internet facilities</li>
<li>Proficiency in written and spoken English</li>
<li>Be 18 years of age and above</li>
<li>Dedication</li>
<li>Burning desire for success</li>
</ul>
</div>
</div>
</section>

<%- include("./partials/footer.ejs") %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" ></script>
<script src="./server.js">
</script>
</body>
</html>