<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
 
<body id="home">
  <div class="container-courses">
  <%- include("./partials/nav.ejs") %>

   
  </div>

  
  <main>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 slider-img" src="Images/online-learning.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 slider-img" src="Images/social-media-image.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 slider-img" src="Images/employability-non.png" alt="Third slide">
        </div>
      </div>
    </div>
   
    
    <section class="noncoding-head">
      <h1>Non-Coding Courses</h1>
      <section class="course-links">
        <ul class="list-group" id="list">
        <li><a href="./Employability">Employability Skills</a></li>
        <br>
        <li><a href="./Socialmedia">Social Media Management</a></li>
      </ul>
      </section>
      <p>Advance your career with us as our non-coding courses are run with a robust syllabus which entails Employability Skills and Social Media Management. We offer a platform to unlock the potential of low-code/no-code skills, which would, in return, commemorate collaborations with stakeholders in relevant fields our mentees find themselves. In return for commitments, we give a well-recognised certificate to our mentees.</p>
    </section> 
    </main>
  
  
    <!-------------------------------------Footer---------------------------------------------------------------------------->

<%- include("./partials/footer.ejs") %>
    
     
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./server.js"></script>
    </body>
    </html>
    