<!DOCTYPE html>
<html lang="en">
 <%- include("./partials/head.ejs") %>
<body>

  <div style="margin: 60px 20px; text-align: center; color: rgb(238, 10, 10)">
    <h3>Course is not available</h3>
    <h5><a href="/course">Go back to the course page</a></h5>
  </div>
    
</body>
</html>